body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding: 0;
  margin: 0;
}

.header {
  background: teal;
  padding: 20px;
}

.header__title {
  color: white;
  margin: 0 auto;
}

.navbar {
  background: teal;
  padding: 20px;
}

.navbar__links {
  display: flex;
  gap: 15px;
}

.animelist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.items {
  background-color: teal;
  padding: 5px;
}

.container {
  border: 2px solid teal;
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.page-item {
  background-color: teal;
  padding: 5px;
  border: 2px solid white;
}

.active {
  background-color: white;
  border: 2px solid teal;
}

.active-link {
  color: teal;
}

.previous, .next {
  
}

.previous-link, .next-link {
  padding: 8px;
  font-weight: 800;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}

.genres-container {
  border: 2px solid teal;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
}

.main {
  margin: 0 auto;
}

.title {
  color: teal;
  text-align: center;
  
}

.genre-item {
  padding: 4px;
}

.active-genre {
  background: teal;
  border-radius: 4px;
}