body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding: 0;
  margin: 0;
}

.header {
  background: teal;
  padding: 20px;
}

.header__title {
  color: white;
  margin: 0 auto;
}

.navbar {
  background: teal;
  padding: 20px;
}

.navbar__links {
  display: flex;
  gap: 15px;
}

.animelist {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}